$curve: cubic-bezier(0.19, 1, 0.22, 1);
$in-out: cubic-bezier(0.6, 0.14, 0, 1);

$black: black;
$white: #ffffff;
$text: #1c1c20;
$orange: #7c5327;
$red: #661d00;

$font-sans: "Encode Sans", sans-serif;
$font-serif: "Gupter", serif;
